@model  CantineFront.ViewModels.CategorieViewModel
@section Styles{
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" crossorigin="anonymous">
    <link href="~/lib/bootstrap-fileinput/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
}
@{
    string actif = (Model.Categorie?.Actif ?? false) ? "checked" : "";
}
<!-- book section -->
<section class="book_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
               Modifier catégorie
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form_container">
                    <form action="" class="row" id="form">
                        <input type="hidden" name="Id" value="@Model.Categorie.Id"/>
                        <div class="col-12">
                            <label class="form-label">Nom</label>
                            <input type="text" class="form-control" placeholder="" name="Name" id="Name" value="@Model.Categorie.Name" required />
                        </div>
                        <div class="col-6 ">

                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="actif" @actif>
                                <label class="form-check-label" for="actif">Actif</label>
                            </div>

                        </div>
                        <div class="btn_box d-flex justify-content-between  col-12">
                            <button class="custom-btn" id="btnUpdate" type="button" data-redirectroute="/Categorie/List" data-url="/Categorie/UpdateCategorie">
                                Enregistrer
                            </button>
                            <button class="custom-btn" style="background-color:#007bff !important;border-color:#007bff !important;color:#fff !important" type="button" onclick="history.back()">
                                Retour
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6 card  ">

                <div class="  row d-flex justify-content-center">

                    <p class="col-12 text-center bg-danger text-white my-2">
                        Liste des commandes en attente
                    </p>
                    <div class=" col-md-11 row " id="messagesList">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end book section -->
@section Scripts{

    <script>
        $(function () {


            GetPendingCommandes();
        })

    </script>

                    }