@section Styles {
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/article.css" />
}
@section slide{
    <partial name="_SlideSection" />
}
<section class="food_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center fadeInUp" data-wow-delay="0.1s">
            <h4>
                Articles disponibles
            </h4>
        </div>

        <ul id="filterList" class="filters_menu">
            @* <li class="active" data-filter="*">Toutes les catégories</li> *@
        </ul>

        <div class="filters-content">
            <div class="col-12">
                <label class="form-label">Rechercher</label>
                <input type="text" class="form-control" placeholder="" id="searchText" />
            </div>

            <div class="d-flex justify-content-center">
                <div class="center my-3 justify-content-center align-self-center" id="noItemsAlert" style="display:none">
                    Aucun article disponible pour cette catégorie
                </div>
            </div>

            <div id="gridArticles" class="row grid">

            </div>
        </div>

        <div class="btn-box" style="display:none">
            <a href="">
                Voir plus
            </a>
        </div>
        <a href="#" class="btn btn-lg btn-lg-square rounded-circle back-to-top"><i class="fas fa-arrow-circle-up"></i></a>
    </div>
</section>

<!-- Modal pour les détails de l'article -->
<div class="modal fade" id="articleDetailModal" tabindex="-1" aria-labelledby="articleDetailModalLabel">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="articleDetailModalLabel">Détails de l'article</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <img id="modalArticleImage" src="/images/default.png" class="img-fluid rounded" alt="Article" style="max-height: 300px; object-fit: cover; width: 100%;">
                    </div>
                    <div class="col-md-6">
                        <h4 id="modalArticleTitle" class="text-primary mb-3"></h4>
                        <p id="modalArticleDescription" class="text-muted mb-3"></p>

                        <div class="row mb-3">
                            <div class="col-6">
                                <strong>Prix de vente:</strong>
                                <div id="modalArticlePrice" class="h5 text-success"></div>
                            </div>
                            <div class="col-6">
                                <strong>Stock disponible:</strong>
                                <div id="modalArticleStock" class="h5 text-info"></div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-6">
                                <strong>Catégorie:</strong>
                                <div id="modalArticleCategory" class="text-dark"></div>
                            </div>
                            <div class="col-6">
                                <strong>Statut:</strong>
                                <div id="modalArticleStatus" class="text-dark"></div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <strong>Disponibilité:</strong>
                            <div id="modalArticleAvailability" class="text-dark"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                @* <button type="button" class="btn btn-primary" id="modalAddToCartBtn">
                    <i class="fa fa-shopping-bag me-2 addToCart"></i>Ajouter au panier
                </button> *@
            </div>
        </div>
    </div>
</div>

@section    Scripts{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <script>
        const ARTICLES_IDS = []
        const ARTICLES_DATA = [];
        $(function () {
            try {
            } catch {


            }


               $("#searchText").on("input", function () {
                var searchValue = $(this).val().toLowerCase();
                var activeCategory = $(".filters_menu li.active").attr("data-filter") || "*";

                $(".grid").isotope({
                    filter: function () {
                        var title = $(this).find('.articleName').text().toLowerCase();
                        var matchesSearch = title.includes(searchValue);

                        if (activeCategory === "*") {
                            return matchesSearch;
                        } else {
                            return matchesSearch && $(this).is(activeCategory);
                        }
                    }
                });
            });

            var errorHandler = (err) => {

                ToastR("Une erreur a été rencontré", "error", 15);
            }
            var successCategoryHandler = function (res) {
                // console.log(JSON.stringify(res))
                if (res) {

                    if (res.success && res.data) {
                        //  ToastR(res.message, res.status, 15);
                        var len = res.data.length;
                        res.data.forEach((item, index) => {
                            //   console.log("item = ",item)

                            if (item.actif) {
                                const activeFilter = index === 0 ? "active" : "";
                                $("#filterList").append(`<li class="${activeFilter}" data-filter=".category_${item.id}">${item.name}</li>`);
                                var active = index == 0 ? "active" : '';
                                     $("#sildeCarouselInner").append(`
                                        <div class="carousel-item ${active}">
                                            <div class="container">
                                                <div class="row align-items-center justify-content-center">
                                                    <div class="col-md-8 col-lg-6 text-center text-white">
                                                        <div class="carousel-content py-4">
                                                            <h2 class="h1 font-weight-bold mb-3 text-shadow text-dark">
                                                                ${item.name}
                                                            </h2>
                                                            <p class="mb-3 text-shadow text-dark">Découvrez nos délicieuses spécialités</p>
                                                            <div class="btn-container">
                                                                <a href="/Home/Index?categorieId=${item.id}" class="btn custom-btn btn-lg px-4 py-2 font-weight-bold">
                                                                    <i class="fa fa-utensils mr-2"></i>Commander
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    `);
                            }



                            if (index == len - 1) {



                                ajaxManager('GET', '/Article/GetMenu', successArticleHandler, errorHandler);
                            }
                        })

                    }
                }
            }


            var successArticleHandler = function (res) {
                // console.log(JSON.stringify(res))
                if (res) {

                    if (res.success && res.data) {

                        var len = res.data.length;
                        if (len > 1) {
                            $(".btn-box").show()
                            $("#noItemsAlert").hide();
                        } else {

                            $("#noItemsAlert").show();

                        }
                        $("#gridArticles").html("");
                        res.data.forEach((item, index) => {
                            ARTICLES_IDS.push(item.id)
                            ARTICLES_DATA.push(item);

                            if (item.actif) {

                                var description = "";
                                if (item.description) {
                                    description = item.description.length > 50 ? (item.description.substring(0, 50) + "...") : item.description;
                                }
                                var itemCart = { ...item }
                                itemCart = JSON.stringify(itemCart);
                                        $("#gridArticles").append(`
                                            <div class="col-xl-3 col-lg-4 col-md-6 mb-4 all  category_${item.categorieId} wow fadeInUp" data-itemcart='${itemCart}' data-wow-delay="0.1s">
                                                <div class="product-item">
                                                    <div class="position-relative bg-light overflow-hidden">
                                                        <img onerror="this.src='/images/default.png';"
                                                             src="/images/default.png"
                                                             id="imageArticle_${item.id}"
                                                             class="img-fluid w-100"
                                                             alt="${item.title}">
                                                        <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">Nouveau</div>
                                                    </div>
                                                    <div class="text-center p-4">
                                                        <a class="d-block h5 mb-2 articleName">${item.title}</a>
                                                        <span class="text-primary me-1">${item.prixDeVente} XOF</span>
                                                    </div>
                                                    <div class="d-flex border-top">
                                                        <small class="w-50 text-center border-end py-2">
                                                            <!-- CORRECTION ICI : Ajout des attributs modal -->
                                                            <a class="text-body view-detail-btn" href="#!"
                                                               data-bs-toggle="modal"
                                                               data-bs-target="#articleDetailModal"
                                                               data-articleid="${item.id}">
                                                                <i class="fa fa-eye text-primary me-2"></i>Détails
                                                            </a>
                                                        </small>
                                                        <small class="w-50 text-center py-2">
                                                            <a class="text-body add-to-cart-btn addToCart" href="#!" data-itemcart='${itemCart}'>
                                                                <i class="fa fa-shopping-bag text-primary me-2 "></i>Ajouter
                                                            </a>
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                        `);
                            }

                            if (index == len - 1) {


                                initAddArticleToCartClick();

                                try {
                                    var itemReveal = Isotope.Item.prototype.reveal;
                                    Isotope.Item.prototype.reveal = function () {
                                        itemReveal.apply(this, arguments);
                                        $(this.element).removeClass('isotope-hidden');
                                    };
                                    var itemHide = Isotope.Item.prototype.hide;
                                    Isotope.Item.prototype.hide = function () {
                                        itemHide.apply(this, arguments);
                                        $(this.element).addClass('isotope-hidden');
                                    };

                                } catch {

                                }

                            $('.filters_menu li').click(function () {
                            $('.filters_menu li').removeClass('active');
                            $(this).addClass('active');

                            var activeCategory = $(this).attr('data-filter') || "*";
                            var searchValue = $("#searchText").val().toLowerCase();

                            $(".grid").isotope({
                                filter: function () {
                                    var title = $(this).find('.articleName').text().toLowerCase();
                                    var matchesSearch = title.includes(searchValue);

                                    if (activeCategory === "*") {
                                        return matchesSearch;
                                    } else {
                                        return matchesSearch && $(this).is(activeCategory);
                                    }
                                }
                            });
                        });

                                var initialFilter = $(".filters_menu li.active").attr("data-filter") || "*";

                                var $grid = $(".grid").isotope({
                                    itemSelector: ".all",
                                    percentPosition: false,
                                    masonry: {
                                        columnWidth: ".all"
                                    },
                                    filter: initialFilter
                                });
                                $grid.isotope('on', 'layoutComplete', function () {
                                    var numItems = $grid.find('.all:not(.isotope-hidden)').length;
                                    if (numItems == 0) {
                                        $("#noItemsAlert").show();

                                    } else {

                                        $("#noItemsAlert").hide();
                                    }
                                });
                                try {
                                    loadImageSuccessHandler = (res) => {
                                        // console.log("images = ",res.id)
                                        if (res != null) {
                                            var imageId = res.id
                                            $(`#imageArticle_${imageId}`).attr("src", `data:image/png;base64,${res.image}`);
                                        }

                                    }
                                    function doSetTimeout(i) {
                                        var id = ARTICLES_IDS[i]
                                        setTimeout(function () {
                                         //   console.log("images = ", id)
                                            ajaxManager('GET', '/Article/GetArticleImage?id=' + id, loadImageSuccessHandler, (err) => { });
                                        }, 10);
                                    }

                                    for (var i = 0; i < len; i++) {

                                        doSetTimeout(i);
                                    }
                                }
                                catch{


                                }
                     

                            }

                        })
                    }
                }
            }
            ajaxManager('GET', '/Categorie/GetCategories', successCategoryHandler, errorHandler);


        });
                $(document).ready(function() {
            var $backToTop = $('.back-to-top');

            $(window).scroll(function() {
                if ($(window).scrollTop() > 100) { 
                    $backToTop.fadeIn();
                } else {
                    $backToTop.fadeOut();
                }
            });

            $backToTop.click(function(e) {
                e.preventDefault();
                $('html, body').animate({ scrollTop: 0 }, '300'); 
            });
        });

        var articleModalEl = document.getElementById('articleDetailModal');
        var articleModal = new bootstrap.Modal(articleModalEl, {
            backdrop: true,   
            keyboard: true   
        });

        function openArticleDetailModal(articleId) {
            var article = ARTICLES_DATA.find(item => item.id === articleId);
            if (!article) return ToastR("Article non trouvé", "error", 15);

            populateModal(article);
            $('#modalAddToCartBtn').blur();

            // Affiche le modal (réutilisation de l'instance)
            articleModal.show();
        }

        // Fonction pour remplir le modal
        function populateModal(article) {
            // Image
            var imageElement = document.getElementById('imageArticle_' + article.id);
            var imageSrc = imageElement ? imageElement.src : '/images/default.png';
            $('#modalArticleImage').attr('src', imageSrc);

            // Titre et description
            $('#modalArticleTitle').text(article.title);
            $('#modalArticleDescription').text(article.description || 'Aucune description disponible');

            // Prix et stock
            $('#modalArticlePrice').text(article.prixDeVente + ' XOF');
            $('#modalArticleStock').text((article.quantiteStock || 0) + ' unités');

            // Catégorie
            var categoryName = article.categorieNavigation ? article.categorieNavigation.name :
                               (article.categorieName || 'Non catégorisé');
            $('#modalArticleCategory').text(categoryName);

            // Statut
            var status = article.isApproved ? 'Approuvé' : 'En attente';
            $('#modalArticleStatus').text(status);

            // Disponibilité
            var isAvailable = article.actif && (article.quantiteStock > 0 || !article.controlStockQuantity);
            var availability = isAvailable ?
                '<span class="text-success">✓ Disponible</span>' :
                '<span class="text-danger">✗ Indisponible</span>';
            $('#modalArticleAvailability').html(availability);

        }

        $(document).on('click', '.view-detail-btn', function(e) {
            e.preventDefault();
            var articleId = $(this).data('articleid');
            openArticleDetailModal(articleId);
        });

    </script>

     }
