@section Styles {
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" crossorigin="anonymous">
    <style>
        .custom-btn {
            background: linear-gradient(135deg, #FF6B35 0%, #00C9B1 100%);
        }
    </style>
}
@section slide{
    <partial name="_SlideSection" />
}
<section class="modern-food-section py-5">
    <div class="container">
        <!-- Header Section -->
        <div class="text-center mb-5">
            <h2 class="display-5 font-weight-bold text-dark mb-3">
                Notre Carte
            </h2>
            <p class="text-muted lead">Découvrez nos délices culinaires</p>
        </div>

        <!-- Filters Section -->
        <div class="row justify-content-center mb-4">
            <div class="col-12 text-center mb-4">
                <div class="filter-container">
                    <ul id="filterList" class="modern-filter-list list-inline mb-0">
                        <li class="list-inline-item">
                            <button class="btn btn-filter active" data-filter="*">
                                Toutes les catégories
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Search Section -->
        <div class="row justify-content-center mb-5">
            <div class="col-lg-6 col-md-8">
                <div class="search-container position-relative">
                    <i class="fa fa-search search-icon position-absolute"></i>
                    <input type="text"
                           class="form-control form-control-lg search-input ps-5"
                           placeholder="Rechercher un article..."
                           id="searchText">
                </div>
            </div>
        </div>

        <!-- No Items Alert -->
        <div class="text-center my-4">
            <div class="no-items-alert alert alert-light border-0 py-4 px-4 shadow-sm"
                 id="noItemsAlert"
                 style="display:none">
                <i class="fa fa-search fa-2x text-muted mb-3 d-block"></i>
                <h5 class="text-muted mb-2">Aucun article trouvé</h5>
                <p class="text-muted mb-0">Essayez de modifier vos critères de recherche</p>
            </div>
        </div>

        <!-- Articles Grid -->
        <div id="gridArticles" class="row g-4 justify-content-center">
            <!-- Les articles seront ajoutés dynamiquement ici -->
        </div>

        <!-- Load More Button -->
        <div class="text-center mt-5" style="display:none">
            <a href="#" class="btn btn-outline-dark btn-lg px-5 py-3 rounded-pill">
                Voir plus
                <i class="fa fa-chevron-down ml-2"></i>
            </a>
        </div>
    </div>
</section>

@section    Scripts{


    <script>
        const ARTICLES_IDS = []
        $(function () {
            try {
            } catch {


            }


            $("#searchText").on("input", function () {
                var value = $(this).val()
                $(".grid").isotope({
                    filter: function () {
                        var articleTitle = $(this).find('.articleName').text();
                        articleTitle = articleTitle ? articleTitle : "";
                        value = value.toLowerCase();
                        // return true to show, false to hide
                        return articleTitle.toLowerCase().includes(value)
                    }
                })
            });
            var errorHandler = (err) => {

                ToastR("Une erreur a été rencontré", "error", 15);
            }
            var successCategoryHandler = function (res) {
                // console.log(JSON.stringify(res))
                if (res) {

                    if (res.success && res.data) {
                        //  ToastR(res.message, res.status, 15);
                        var len = res.data.length;
                        res.data.forEach((item, index) => {
                            //   console.log("item = ",item)

                            if (item.actif) {
                                $("#filterList").append(`<li data-filter=".category_${item.id}">${item.name}</li>`);
                                var active = index == 0 ? "active" : '';
                                     $("#sildeCarouselInner").append(`
                                        <div class="carousel-item ${active}">
                                            <div class="container">
                                                <div class="row align-items-center justify-content-center">
                                                    <div class="col-md-8 col-lg-6 text-center text-white">
                                                        <div class="carousel-content py-4">
                                                            <h2 class="h1 font-weight-bold mb-3 text-shadow">
                                                                ${item.name}
                                                            </h2>
                                                            <p class="mb-3 text-shadow">Découvrez nos délicieuses spécialités</p>
                                                            <div class="btn-container">
                                                                <a href="/Home/Index?categorieId=${item.id}" class="btn custom-btn btn-lg px-4 py-2 font-weight-bold">
                                                                    <i class="fa fa-utensils mr-2"></i>Commander
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    `);
                            }



                            if (index == len - 1) {



                                ajaxManager('GET', '/Article/GetMenu', successArticleHandler, errorHandler);
                            }
                        })

                    }
                }
            }
            var successArticleHandler = function (res) {
                // console.log(JSON.stringify(res))
                if (res) {

                    if (res.success && res.data) {

                        var len = res.data.length;
                        if (len > 1) {
                            $(".btn-box").show()
                            $("#noItemsAlert").hide();
                        } else {

                            $("#noItemsAlert").show();

                        }
                        $("#gridArticles").html("");
                        res.data.forEach((item, index) => {
                            ARTICLES_IDS.push(item.id)


                            if (item.actif) {

                                var description = "";
                                if (item.description) {
                                    description = item.description.length > 50 ? (item.description.substring(0, 50) + "...") : item.description;
                                }
                                var itemCart = { ...item }
                                // delete itemCart.image;
                                itemCart = JSON.stringify(itemCart);
                                       $("#gridArticles").append(`
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 all addToCart category_${item.categorieId}" data-itemcart='${itemCart}'>
                <div class="card article-card h-100 border-0 shadow-sm">
                    <div class="card-img-top position-relative">
                        <img onerror="this.src='/images/default.png';"
                             src="/images/default.png"
                             id="imageArticle_${item.id}"
                             class="img-fluid p-4"
                             alt="${item.title}"
                             style="height: 200px; object-fit: contain; width: 100%;">
                    </div>
                    <div class="card-body d-flex flex-column">
                        <h6 class="article-name card-title font-weight-bold text-dark mb-2">
                            ${item.title}
                        </h6>
                        <p class="card-text text-muted small flex-grow-1 mb-3" style="min-height: 40px;">
                            ${description}
                        </p>
                        <div class="d-flex justify-content-between align-items-center mt-auto">
                            <span class="h6 font-weight-bold text-warning mb-0">
                                ${item.prixDeVente} XOF
                            </span>
                            <a href="#!" class="btn btn-warning rounded-circle p-2 d-flex align-items-center justify-content-center"
                               data-itemcart='${itemCart}'
                               style="width: 45px; height: 45px;">
                                ${charpSvgIcon}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        `);
                            }

                            if (index == len - 1) {


                                initAddArticleToCartClick();

                                try {
                                    var itemReveal = Isotope.Item.prototype.reveal;
                                    Isotope.Item.prototype.reveal = function () {
                                        itemReveal.apply(this, arguments);
                                        $(this.element).removeClass('isotope-hidden');
                                    };
                                    var itemHide = Isotope.Item.prototype.hide;
                                    Isotope.Item.prototype.hide = function () {
                                        itemHide.apply(this, arguments);
                                        $(this.element).addClass('isotope-hidden');
                                    };

                                } catch {

                                }

                                $('.filters_menu li').click(function () {
                                    $('.filters_menu li').removeClass('active');
                                    $(this).addClass('active');

                                    var data = $(this).attr('data-filter');
                                    $grid.isotope({
                                        filter: data
                                    })
                                });

                                var $grid = $(".grid").isotope({
                                    itemSelector: ".all",
                                    percentPosition: false,
                                    masonry: {
                                        columnWidth: ".all"
                                    }
                                });
                                $grid.isotope('on', 'layoutComplete', function () {
                                    var numItems = $grid.find('.all:not(.isotope-hidden)').length;
                                    if (numItems == 0) {
                                        $("#noItemsAlert").show();

                                    } else {

                                        $("#noItemsAlert").hide();
                                    }
                                });
                                try {
                                    loadImageSuccessHandler = (res) => {
                                        // console.log("images = ",res.id)
                                        if (res != null) {
                                            var imageId = res.id
                                            $(`#imageArticle_${imageId}`).attr("src", `data:image/png;base64,${res.image}`);
                                        }

                                    }
                                    function doSetTimeout(i) {
                                        var id = ARTICLES_IDS[i]
                                        setTimeout(function () {
                                         //   console.log("images = ", id)
                                            ajaxManager('GET', '/Article/GetArticleImage?id=' + id, loadImageSuccessHandler, (err) => { });
                                        }, 10);
                                    }

                                    for (var i = 0; i < len; i++) {

                                        doSetTimeout(i);
                                    }
                                }
                                catch{


                                }
                     

                            }

                        })
                    }
                }
            }
            ajaxManager('GET', '/Categorie/GetCategories', successCategoryHandler, errorHandler);


        });
    </script>

                                        }