@using CantineFront.ViewModels
@model  ArticleViewModel
@section Styles{



    <!-- alternatively you can use the font awesome icon library if using with `fas` theme (or Bootstrap 4.x) by uncommenting below. -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" crossorigin="anonymous">
    <!-- the fileinput plugin styling CSS file -->
    <link href="~/lib/bootstrap-fileinput/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />

    <!-- if using RTL (Right-To-Left) orientation, load the RTL CSS file after fileinput.css by uncommenting below -->
    <!-- link href="~/lib/bootstrap-fileinput/css/fileinput-rtl.min.css" media="all" rel="stylesheet" type="text/css" /-->
}

<!-- book section -->
<section class="book_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Créer un article
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form_container">
                    <form action="" class="row" id="form">
                        <div class="col-12">
                            <label class="form-label">Nom</label>
                            <input type="text" class="form-control" placeholder="" name="Title" id="Title" required />
                        </div>
                        <div class="col-12">
                            <label class="form-label">Description</label>
                            <input type="text" class="form-control" placeholder="" name="Description" id="Description" required>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Prix d'achat</label>
                            <input type="number" class="form-control" placeholder="" name="PrixDachat" id="PrixDachat" />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Prix de vente</label>
                            <input type="number" class="form-control" placeholder="" name="PrixDeVente" id="PrixDeVente" required />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Quantité en Stock</label>
                            <input type="number" class="form-control" placeholder="" name="QuantiteStock" id="QuantiteStock" required />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Catégorie</label>
                            <select class="form-control nice-select wide" name="CategorieId" id="CategorieId" required>
                                <option  disabled selected>
                                    Sélectionnez la catégorie?
                                </option>
                                @if (Model.Categories != null)
                                {
                                    foreach (var item in Model.Categories)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            </select>
                        </div>

                        <div class="col-md-8 ">

                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" checked id="controlStockQuantity">
                                <label class="form-check-label" for="ControlStockQuantity">Vérifier le stock lors de la commande</label>
                            </div>

                        </div>
                        <div class="col-12">
                            <label class="form-label">Image</label>
                            <input type="file" placeholder="" id="image" name="Image" />
                        </div>
                        @* <div>
                        <input type="date" class="form-control">
                        </div>*@
                        <div class="btn_box d-flex justify-content-between col-12">
                            <button class="custom-btn" id="btnCreate" type="button" data-redirectroute="/Article/List" data-url="/Article/CreateArticle">
                                Ajouter
                            </button>
                            <button class="custom-btn" style="background-color:#007bff !important;border-color:#007bff !important;color:#fff !important" type="button" onclick="history.back()">
                                Retour
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6 card  ">

                <div class="  row d-flex justify-content-center">

                    <p class="col-12 text-center bg-danger text-white my-2">
                        Liste des commandes en attente
                    </p>
                    <div class=" col-md-11 row " id="messagesList">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end book section -->
@section Scripts{

    <script>

     
        $(function(){

            $("#image").fileinput({
                showUpload: false,
                ShowCaption: false, // does not display the local file name
                language: "fr",
                theme: 'fas',
                allowedFileExtensions: ["png"],
                maxFileSize: 100,
                maxFileCount: 1
            });

            $('#form').validate({

                rules:{
                    "PrixDeVente":{required:true,min:0},
                   "PrixDachat": { required: false, min: 0 },
                    "QuantiteStock": { required: false, min: 0 },
                },
                feedbackIcons: {
                    valid: 'fa fa-check',
                    invalid: 'fa fa-remove',
                    validating: 'fa fa-refresh'
                },
                errorClass: "error fail-alert",
                validClass: "valid success-alert"

            });
           
            GetPendingCommandes();
        })
    </script>

                    }