@inject IHttpContextAccessor Accessor
@{
    var CartBadgeCount = Accessor.HttpContext?.Session.GetInt32("CartBadgeCount") ?? 0;
    bool logged = Convert.ToBoolean(Accessor.HttpContext?.Session.GetString("Logged") ?? "false");
    bool isAdmin = Convert.ToBoolean(Accessor.HttpContext?.Session.GetString("IsAdmin") ?? "false");
    bool isGerant = Convert.ToBoolean(Accessor.HttpContext?.Session.GetString("IsGerant") ?? "false");
    string username = Accessor.HttpContext?.Session.GetString("Username") ?? "";
    string isVisible = CartBadgeCount <= 0 ? "d-none" : "";
}
@section Styles {
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/header.css" />
}

<div class="container-fluid fixed-top px-0">
    <!-- Top Bar -->
    <div class="top-bar row align-items-center d-none d-lg-flex" style="margin: 0;">
        <div class="col-lg-6 px-5 text-left">
            <small><i class="fa fa-map-marker-alt mr-2"></i>Cuisinov, Votre Restaurant d'Entreprise</small>
            <small class="ml-4"><i class="fa fa-envelope mr-2"></i>contact@cuisinov.com</small>
        </div>
        <div class="col-lg-6 px-5 text-right">
            <small>Suivez-nous :</small>
            <a class="text-body ml-3" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="text-body ml-3" href=""><i class="fab fa-twitter"></i></a>
            <a class="text-body ml-3" href=""><i class="fab fa-linkedin-in"></i></a>
            <a class="text-body ml-3" href=""><i class="fab fa-instagram"></i></a>
        </div>
    </div>

    <!-- Main Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light py-lg-0 px-lg-5">
        <a href="/Home/Menu" class="navbar-brand ml-4 ml-lg-0">
            <h1 class="font-weight-bold text-primary m-0">C<span class="text-secondary">uisin</span>ov</h1>
        </a>

        <button type="button" class="navbar-toggler mr-4" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <!-- Menu Items -->
            <ul class="navbar-nav ml-auto p-4 p-lg-0">
                @if (logged)
                {
                    <li class="nav-item active">
                        <a href="/Home/Menu" class="nav-link">
                            <i class="fa fa-utensils mr-2"></i>Menu
                        </a>
                    </li>

                    if (!isGerant)
                    {
                        <li class="nav-item">
                            <a href="/Commande/MyCommands" class="nav-link">
                                <i class="fa fa-list-alt mr-2"></i>Mes Commandes
                            </a>
                        </li>
                    }

                    @if (isAdmin || isGerant)
                    {
                        <li class="nav-item">
                            <a href="/Commande/List" class="nav-link">
                                <i class="fa fa-clipboard-list mr-2"></i>Commandes
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Commande/Index" class="nav-link">
                                <i class="fa fa-clock mr-2"></i>En Attente
                            </a>
                        </li>

                        <!-- Gestion Dropdown -->
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-cogs mr-2"></i>Gestion
                            </a>
                            <div class="dropdown-menu">
                                <a href="/Article/List" class="dropdown-item">
                                    <i class="fa fa-box mr-2"></i>Articles
                                </a>
                                <a href="/Categorie/List" class="dropdown-item">
                                    <i class="fa fa-tags mr-2"></i>Catégories
                                </a>

                                @if (isAdmin)
                                {
                                    <div class="dropdown-divider"></div>
                                    <a href="/Emplacement/List" class="dropdown-item">
                                        <i class="fa fa-map-marker mr-2"></i>Emplacements
                                    </a>
                                    <a href="/User/List" class="dropdown-item">
                                        <i class="fa fa-users mr-2"></i>Utilisateurs
                                    </a>
                                    <a href="/Department/List" class="dropdown-item">
                                        <i class="fa fa-building mr-2"></i>Départements
                                    </a>
                                    <a href="/Entreprise/List" class="dropdown-item">
                                        <i class="fa fa-briefcase mr-2"></i>Entreprise
                                    </a>
                                    <a href="/PaymentMethod/List" class="dropdown-item">
                                        <i class="fa fa-credit-card mr-2"></i>Paiements
                                    </a>
                                }
                            </div>
                        </li>
                    }
                }
            </ul>

            <!-- Right Side Items -->
            <div class="d-none d-lg-flex ml-2">
                @if (logged)
                {
                    <!-- Cart Icon -->
                    <div class="nav-item position-relative ml-3">
                        <a class="btn-sm-square bg-white rounded-circle position-relative" href="#" id="cartButton" style="display: flex; align-items: center; justify-content: center; width: 40px; height: 40px;">
                            <small class="fa fa-shopping-cart text-body"></small>
                            @if (CartBadgeCount > 0)
                            {
                                <span class="position-absolute badge badge-pill badge-danger" style="top: -5px; right: -5px;">
                                    @CartBadgeCount
                                </span>
                            }
                        </a>
                    </div>

                    <!-- User Profile -->
                    <div class="nav-item dropdown ml-3">
                        <a class="btn-sm-square bg-white rounded-circle dropdown-toggle" href="#" role="button" data-toggle="dropdown" style="display: flex; align-items: center; justify-content: center; width: 40px; height: 40px;">
                            <small class="fa fa-user text-body"></small>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/Home/Profil">
                                <i class="fa fa-user mr-2"></i>@username
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/Login/Logout">
                                <i class="fa fa-sign-out-alt mr-2"></i>Déconnexion
                            </a>
                        </div>
                    </div>
                }
                else
                {
                    <!-- Login Button -->
                    <a class="btn btn-warning text-dark font-weight-bold px-4 ml-3" href="/Login/Index">
                        <i class="fa fa-sign-in-alt mr-2"></i>Connexion
                    </a>
                }
            </div>

            <!-- Mobile Right Side Items -->
            <div class="d-lg-none mt-3">
                @if (logged)
                {
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-outline-primary mr-2" href="#" id="cartButtonMobile">
                            <i class="fa fa-shopping-cart mr-2"></i>Panier
                            @if (CartBadgeCount > 0)
                            {
                                <span class="badge badge-danger ml-1" id="cartBadgeMobile">@CartBadgeCount</span>
                            }
                        </a>
                        <a class="btn btn-outline-secondary" href="/Home/Profil">
                            <i class="fa fa-user mr-2"></i>@username
                        </a>
                    </div>
                }
                else
                {
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-warning text-dark font-weight-bold px-4" href="/Login/Index">
                            <i class="fa fa-sign-in-alt mr-2"></i>Connexion
                        </a>
                    </div>
                }
            </div>
        </div>
    </nav>
</div>