@inject IHttpContextAccessor Accessor
@{
    var CartBadgeCount = Accessor.HttpContext?.Session.GetInt32("CartBadgeCount") ?? 0;
    bool logged = Convert.ToBoolean(Accessor.HttpContext?.Session.GetString("Logged") ?? "false");
    bool isAdmin = Convert.ToBoolean(Accessor.HttpContext?.Session.GetString("IsAdmin") ?? "false");
    bool isGerant = Convert.ToBoolean(Accessor.HttpContext?.Session.GetString("IsGerant") ?? "false");
    string username = Accessor.HttpContext?.Session.GetString("Username") ?? "";
    string isVisible = CartBadgeCount <= 0 ? "d-none" : "";
}
@section Styles {
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/header.css" />
}

<div class="container-fluid position-sticky top-0 z-3 px-0 animate__animated animate__fadeIn" data-wow-delay="0.1s">
    <!-- Top Bar -->
    <div class="top-bar row align-items-center d-none d-lg-flex" style="margin: 0;">
        <div class="col-lg-6 px-5 text-left">
            <small><i class="fa fa-map-marker-alt mr-2"></i>Cuisinov, Votre Restaurant d'Entreprise</small>
            <small class="ml-4"><i class="fa fa-envelope mr-2"></i>contact@cuisinov.com</small>
        </div>
        <div class="col-lg-6 px-5 d-flex justify-content-end">
            <small>Suivez-nous :</small>
            <a class="text-body ml-3" href=""><i class="fab fa-facebook-f"></i></a>
            <a class="text-body ml-3" href=""><i class="fab fa-twitter"></i></a>
            <a class="text-body ml-3" href=""><i class="fab fa-linkedin-in"></i></a>
            <a class="text-body ml-3" href=""><i class="fab fa-instagram"></i></a>
        </div>
    </div>

    <!-- Main Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light py-lg-0 px-lg-5 animate__animated animate__fadeIn" data-wow-delay="0.1s">
        <!-- Logo à gauche -->
        <a href="/Home/Menu" class="navbar-brand">
            <h1 class="fw-bold text-primary m-0 px-2">C<span class="text-secondary">uisin</span>ov</h1>
        </a>

        <button class="navbar-toggler me-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <!-- Menu items AU CENTRE -->
            <ul class="navbar-nav mx-auto p-4 p-lg-0">
                <!-- ✅ mx-auto pour centrer -->
                @if (logged)
                {
                    <li class="nav-item">
                        <a href="/Home/Menu" class="nav-link">
                            <i class="fa fa-utensils me-2"></i>Menu
                        </a>
                    </li>

                    @if (!isGerant)
                    {
                        <li class="nav-item">
                            <a href="/Commande/MyCommands" class="nav-link">
                                <i class="fa fa-list-alt me-2"></i>Mes Commandes
                            </a>
                        </li>
                    }

                    @if (isAdmin || isGerant)
                    {
                        <li class="nav-item">
                            <a href="/Commande/List" class="nav-link">
                                <i class="fa fa-clipboard-list me-2"></i>Commandes
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Commande/Index" class="nav-link">
                                <i class="fa fa-clock me-2"></i>En Attente
                            </a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                <i class="fa fa-cogs me-2"></i>Gestion
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/Article/List"><i class="fa fa-box me-2"></i>Articles</a></li>
                                <li><a class="dropdown-item" href="/Categorie/List"><i class="fa fa-tags me-2"></i>Catégories</a></li>

                                @if (isAdmin)
                                {
                                    <li><hr class="dropdown-divider" /></li>
                                    <li><a class="dropdown-item" href="/Emplacement/List"><i class="fa fa-map-marker me-2"></i>Emplacements</a></li>
                                    <li><a class="dropdown-item" href="/User/List"><i class="fa fa-users me-2"></i>Utilisateurs</a></li>
                                    <li><a class="dropdown-item" href="/Department/List"><i class="fa fa-building me-2"></i>Départements</a></li>
                                    <li><a class="dropdown-item" href="/Entreprise/List"><i class="fa fa-briefcase me-2"></i>Entreprise</a></li>
                                    <li><a class="dropdown-item" href="/PaymentMethod/List"><i class="fa fa-credit-card me-2"></i>Paiements</a></li>
                                }
                            </ul>
                        </li>
                    }
                }
            </ul>

            <!-- Panier et profil À DROITE -->
            <div class="d-none d-lg-flex ms-2">
                <!-- ✅ Pas de ms-auto ici -->
                @if (logged)
                {
                    <!-- Panier -->
                    <div class="nav-item position-relative ms-3">
                        <a class="btn-sm-square bg-white rounded-circle position-relative" href="#" id="cartButton">
                            <small class="fa fa-shopping-cart text-body"></small>
                            @if (CartBadgeCount > 0)
                            {
                                <span id="cartBadge" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    @CartBadgeCount
                                </span>
                            }
                        </a>
                    </div>

                    <!-- Profil -->
                    <div class="nav-item dropdown dropstart ms-3 px-2">
                        <a class="btn-sm-square bg-white rounded-circle dropdown-toggle" href="#" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <small class="fa fa-user text-body"></small>
                        </a>
                        <ul class="dropdown-menu" data-bs-popper="static" style="z-index: 1060;">
                            <!-- ✅ dropdown-menu-end et z-index -->
                            <li><a class="dropdown-item" href="/Home/Profil"><i class="fa fa-user me-2"></i>@username</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item text-danger" href="/Login/Logout"><i class="fa fa-sign-out-alt me-2"></i>Déconnexion</a></li>
                        </ul>
                    </div>
                }
                else
                {
                    <a class="btn btn-warning text-dark fw-bold px-4 ms-3" href="/Login/Index">
                        <i class="fa fa-sign-in-alt me-2"></i>Connexion
                    </a>
                }
            </div>
        </div>
    </nav>
</div>