<!-- slider section -->
<section class="slider-section py-5" id="slideSection">
    <div id="categoriesCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" id="sildeCarouselInner">
            <!-- Les éléments seront ajoutés dynamiquement ici -->
        </div>

        <!-- Contrôles du carousel -->
        <button class="carousel-control-prev" type="button" data-target="#categoriesCarousel" data-slide="prev">
            <span class="carousel-control-prev-icon bg-dark rounded-circle p-3" aria-hidden="true"></span>
            <span class="sr-only">Précédent</span>
        </button>
        <button class="carousel-control-next" type="button" data-target="#categoriesCarousel" data-slide="next">
            <span class="carousel-control-next-icon bg-dark rounded-circle p-3" aria-hidden="true"></span>
            <span class="sr-only">Suivant</span>
        </button>
    </div>
</section>
<!-- end slider section -->